{% extends 'blog/base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="">
    <h2>Please Login</h2>

    {% if form.errors %}
      <p>Your Username and Password didn't match. Please try again.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary" value="Login">
      <input type="hidden" name="next" value="{{next}}"> <!-- Didn't find any use -->
    </form>
    <hr>
    <a class="pull-right" style="text-decoration: none;" href="{% url 'reset_password' %}">Forgotten Password?</a>
  </div>
{% endblock %}
