{% extends 'blog/base.html' %}
{% load bootstrap3 %}

{% block content %}

  {# Error message in case user doesn't exists #}
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <p style="color:red; " {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
  </div>
  {% endif %}

  {# Form #}
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endblock %}
