{% extends 'blog/base.html' %}

{% block content %}
  <!-- Detail of post -->
  <h1 class="posttitle loader">{{post.title|title}}</h1>
  {% if post.published_date %}
    <div class="date postdate">
      <p>Author: {{post.author}}</p>
      {{post.published_date}}
    </div>
  {% else %}
    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
  {% endif %}

  <p class="postcontent">{{post.text|safe|linebreaksbr}}</p>

  <!-- Editing or Removing the post -->
  {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  {% endif %}

  <hr>
  <!-- Add comment -->
  <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
  <br>
  <!-- Approving or Removing comments -->
  {% for comment in  post.comments.all %}
    <br>
    {% if user.is_authenticated %}
      {% if user == post.author %}
        {% if not comment.approved_comment %}
        <div class="well well-sm">
          {{ comment.created_date }}
          <a class="btn btn-default pull-right" href="{% url 'comment_remove' pk=comment.pk %}">
            <span class="glyphicon glyphicon-remove"></span>
          </a>

          <a class="btn btn-primary pull-right" href="{% url 'comment_approve' pk=comment.pk %}">
            <span class="glyphicon glyphicon-ok"></span>
          </a>

          <p>{{comment.text|safe|linebreaks}}</p>
          <p>Posted by: {{comment.author}}</p>
        </div>
        {% endif %}
      {% endif %}

      {% if user == comment.author  and user != post.author %}
      <div class="well well-sm">
        {{ comment.created_date }}
        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <p>{{comment.text|safe|linebreaks}}</p>
      </div>
      {% endif %}
    {% endif %}

    {% if comment.approved_comment %}
      {% if user != post.author %}
        <div class="well well-sm">
          <p>{{comment.text|safe|linebreaks}}</p>
          <p>Posted by: {{comment.author}}</p>
          {{ comment.created_date }}
        </div>
      {% endif %}

      {% if user == post.author %}
      <div class="well well-sm">
        <a class="btn btn-default pull-right" href="{% url 'comment_remove' pk=comment.pk %}">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <p>{{comment.text|safe|linebreaks}}</p>
        <p>Posted by: {{comment.author}}</p>
        {{ comment.created_date }}

      </div>
      {% endif %}

    {% endif %}

    {% empty %}
      <p>No Comments!</p>
  {% endfor %}

{% endblock %}
